.hero {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 20px;
}

.hero__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-wrap: balance;
  margin-top: 24px;
}

.hero__text {
  text-align: center;
  text-wrap: balance;
  margin-top: 8px;
}

.hero__button {
  margin-top: 16px;
 text-align: center;
}