.c-button {
  text-decoration: none;
  cursor: pointer;
}

.c-buttonLink {
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1em;
  align-items: center;
  inline-size: min(100%, 240px);
  display: inline-grid;
  min-height: 50px;
  padding: 8px 24px;
  font-size: 16px;
  color: aliceblue;
  background: rgb(var(--c-primary));
  border-radius: 4px;
  transition: background 0.2s;

  &::before {
    content: "";
  }

  &::after {
    display: inline-block;
    justify-self: end;
    inline-size: 1ex;
    aspect-ratio: 1;
    content: "";
    border-block-start: 1px solid;
    border-inline-end: 1px solid;
    rotate: 45deg;
  }
}

@media (any-hover: hover) {
  .c-buttonLink:hover {
    background: rgb(var(--c-primary-hover));
    transition: background 0.2s;
  }
}
