.p-hero {
  padding-block: 80px;
  margin-inline: auto;
}

.p-heroTitle {
  margin-top: 24px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
}

.p-heroText {
  margin-top: 8px;
  text-align: center;
  text-wrap: balance;
}

.p-heroButton {
  margin-top: 16px;
  text-align: center;
}
