.footer {
  background: var(--c-background-white-muted);
  padding-block: 2rem;
}

.footer__copyright {
  display: flex;
  font-weight: 400;
  font-size: 0.875rem;
  justify-content: center;
  color: var(--c-muted);
}
