:root {
  --color-text-base: #2b2a2a;
  --color-text-white: #fff;
  --color-primary: #2555db;
  --color-primary-hover: #0e3ab2;
  --color-secondary: #9db7f9;
  --color-link: #174ad7;
  --color-muted: #9b9b9b;
  --color-background-white: #fff;
  --color-background-white-muted: #f7f4f4;
  --header-height: 5rem;
  --container-width: 67.5rem;
  --rounded-sm: 0.25rem;
  --rounded-md: 1rem;
  --rounded-lg: 2rem;
  --rounded-full: 9999em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: medium;
  color: var(--color-text-base);
}

body {
  width: 100%;
  height: 100%;
  font-family: Inter, "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

p {
  line-height: 1.8;
  letter-spacing: 0.01em;
}

:where(a),
:where(a:visited) {
  color: var(--color-link);
  cursor: pointer;
}

:where(button) {
  touch-action: manipulation;
  cursor: pointer;
  background: transparent;
  border: none;
}
