.button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition:
    color 0.2s,
    background 0.2s;
  letter-spacing: 0.03em;
}

// Size
.button--lg {
  padding: 1rem 1.5rem;
  max-width: 22.5rem;
  font-size: 1.25rem;
  border-radius: var(--rounded-full);
}

.button--sm {
  padding: 1rem;
  max-width: 15rem;
  border-radius: var(--rounded-sm);
}

// Visual
.button--primary {
  background: var(--c-primary);
  color: var(--c-white);
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: inline-grid;
  max-width: 17.5rem;
  justify-items: center;
  align-items: center;
}

.button--primary:hover,
.button--primary:focus {
  background: var(--c-primary-hover);
  color: var(--c-white);
}

.button--secondary {
  color: var(--c-base);
  background: var(--c-white);
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: inline-grid;
  max-width: 17.5rem;
  border-radius: 4px;
  justify-items: center;
  border: 1px solid;
  align-items: center;
}

.button--secondary:hover,
.button--secondary:focus {
  background: var(--c-base);
  color: var(--c-white);
}
