.container {
  max-width: var(--container-width);
  margin-inline: auto;
  width: 100%;

  @include mq(xl) {
    padding-inline: 32px;
  }
}

.container--wide {
  max-width: calc(var(--container-width) + 120px);
}
