.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
}

.container--wide {
  max-width: calc(var(--container-width) + 120px);
}

@media screen and (width >= 1024px) {
  .container {
    padding-inline: 32px;
  }
}
