.container {
  padding-bottom: 5rem;
}

.sectionTitle {
  padding-bottom: 1.25rem;
}

.home__contentsWrapper {
  display: grid;
  row-gap: 4rem;
}

.hero {
  text-align: center;
  text-wrap: balance;
  padding: 5rem 1.5rem 4rem;
  display: grid;
  row-gap: 1.25rem;
}

.hero__title {
  line-height: 1.2;
  font-size: 3rem;

  @include mq(md) {
    font-size: 4rem;
  }
}

.hero__body {
  font-size: 1.5rem;

  @include mq(md) {
    font-size: 1.125rem;
  }
}

.hero__button .buttonPrimary {
  @include mq(sm) {
    max-width: 100%;
  }
}

.featureList {
  padding-left: 1.25rem;
  display: grid;
  row-gap: 1.75rem;
}

.featureList__item {
  display: grid;
  row-gap: 0.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.featureList__item ul {
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.components__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
